<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>EasyTripe</display-name>
	<servlet>
		<servlet-name>HomeServelet</servlet-name>
		<display-name>HomeServelet</display-name>
		<description></description>
		<servlet-class>controllers.HomeServelet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>controllers.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TourDetailsServlet</servlet-name>
		<display-name>TourDetailsServlet</display-name>
		<description></description>
		<servlet-class>controllers.TourDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<display-name>SearchServlet</display-name>
		<description></description>
		<servlet-class>controllers.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TourListServlet</servlet-name>
		<display-name>TourListServlet</display-name>
		<description></description>
		<servlet-class>controllers.TourListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<display-name>BookServlet</display-name>
		<description></description>
		<servlet-class>controllers.BookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>controllers.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookingListServlet</servlet-name>
		<display-name>BookingListServlet</display-name>
		<description></description>
		<servlet-class>controllers.BookingListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserHomeServlet</servlet-name>
		<display-name>UserHomeServlet</display-name>
		<description></description>
		<servlet-class>controllers.UserHomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminHomeServlet</servlet-name>
		<display-name>AdminHomeServlet</display-name>
		<description></description>
		<servlet-class>controllers.AdminHomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<display-name>AddUserServlet</display-name>
		<description></description>
		<servlet-class>controllers.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageUserServlet</servlet-name>
		<display-name>ManageUserServlet</display-name>
		<description></description>
		<servlet-class>controllers.ManageUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserServlet</servlet-name>
		<display-name>EditUserServlet</display-name>
		<description></description>
		<servlet-class>controllers.EditUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmDeletUserServlet</servlet-name>
		<display-name>ConfirmDeletUserServlet</display-name>
		<description></description>
		<servlet-class>controllers.ConfirmDeletUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTourServlet</servlet-name>
		<display-name>AddTourServlet</display-name>
		<description></description>
		<servlet-class>controllers.AddTourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<display-name>Upload</display-name>
		<description></description>
		<servlet-class>controllers.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadImeageServlet</servlet-name>
		<display-name>UploadImeageServlet</display-name>
		<description></description>
		<servlet-class>controllers.UploadImeageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagetourServlet</servlet-name>
		<display-name>ManagetourServlet</display-name>
		<description></description>
		<servlet-class>controllers.ManagetourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookingDetailsServlet</servlet-name>
		<display-name>BookingDetailsServlet</display-name>
		<description></description>
		<servlet-class>controllers.BookingDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookingdetailsServlet</servlet-name>
		<display-name>BookingdetailsServlet</display-name>
		<description></description>
		<servlet-class>controllers.BookingdetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmBookingServlet</servlet-name>
		<display-name>ConfirmBookingServlet</display-name>
		<description></description>
		<servlet-class>controllers.ConfirmBookingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelBookingServlet</servlet-name>
		<display-name>CancelBookingServlet</display-name>
		<description></description>
		<servlet-class>controllers.CancelBookingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditTourServlet</servlet-name>
		<display-name>EditTourServlet</display-name>
		<description></description>
		<servlet-class>controllers.EditTourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelTourServlet</servlet-name>
		<display-name>CancelTourServlet</display-name>
		<description></description>
		<servlet-class>controllers.CancelTourServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CanceledServelet</servlet-name>
		<display-name>CanceledServelet</display-name>
		<description></description>
		<servlet-class>controllers.CanceledServelet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MakeRegularServlet</servlet-name>
		<display-name>MakeRegularServlet</display-name>
		<description></description>
		<servlet-class>controllers.MakeRegularServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ComplitedServlet</servlet-name>
		<display-name>ComplitedServlet</display-name>
		<description></description>
		<servlet-class>controllers.ComplitedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<display-name>ContactServlet</display-name>
		<description></description>
		<servlet-class>controllers.ContactServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<display-name>ProfileServlet</display-name>
		<description></description>
		<servlet-class>controllers.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CngPasswordServlet</servlet-name>
		<display-name>CngPasswordServlet</display-name>
		<description></description>
		<servlet-class>controllers.CngPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServelet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourDetailsServlet</servlet-name>
		<url-pattern>/tourdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourListServlet</servlet-name>
		<url-pattern>/tourlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingListServlet</servlet-name>
		<url-pattern>/bookinglist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserHomeServlet</servlet-name>
		<url-pattern>/userhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminHomeServlet</servlet-name>
		<url-pattern>/adminhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageUserServlet</servlet-name>
		<url-pattern>/manageuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserServlet</servlet-name>
		<url-pattern>/edituser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmDeletUserServlet</servlet-name>
		<url-pattern>/deletuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTourServlet</servlet-name>
		<url-pattern>/addtour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/up</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadImeageServlet</servlet-name>
		<url-pattern>/uploadimeage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagetourServlet</servlet-name>
		<url-pattern>/managetour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingDetailsServlet</servlet-name>
		<url-pattern>/BookingDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingdetailsServlet</servlet-name>
		<url-pattern>/bookingdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmBookingServlet</servlet-name>
		<url-pattern>/confirmbooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelBookingServlet</servlet-name>
		<url-pattern>/cancelbooking</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditTourServlet</servlet-name>
		<url-pattern>/edittour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelTourServlet</servlet-name>
		<url-pattern>/canceltour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CanceledServelet</servlet-name>
		<url-pattern>/canceled</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MakeRegularServlet</servlet-name>
		<url-pattern>/makeregular</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComplitedServlet</servlet-name>
		<url-pattern>/completed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CngPasswordServlet</servlet-name>
		<url-pattern>/cngpassword</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
